
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow-y: hidden;
}

body {
    position: relative;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: #A1A4AC;
    font-weight: 400;
    background-color:#fff;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/****************HEADER***************/
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding: 60px 0;
    z-index: 9999;
}
.header.fixed {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1E202A;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.menu__list{
    list-style: none;
    display: flex;
}
.menu__list-item{
    position: relative;
    margin: 0 20px;
    display: flex;
    align-items: center;
}
.menu__list-link {
    position: relative;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__list-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -6px;

    height: 2px;
    width: 0;
    background: #fff;

    transition: all .3s;
}
.menu__list-link:hover::after {
    width: 100%;
}

.menu__list-img{
    margin-left: 4px;

    transition: all .3s;
}

.menu__dropdown{
    position: absolute;

    top: 120%;
    left: -10px;
    right: -10px;
    padding: 0 10px;

    list-style: none;
    background: #1E202A;

    opacity: 0;
    visibility: hidden;

    transition: all .3s;
}

.menu__list-item:hover .menu-dropdown {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.menu__list-item:hover .menu__list-img {
    transform: rotate(180deg)
}

.menu__dropdown-item{
    margin: 10px 0;
}
.menu__dropdown-link{
    position: relative;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__dropdown-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -6px;

    height: 2px;
    width: 0;
    background: #fff;

    transition: all .3s;
}

.menu-dropdown__link:hover::after {
    width: 100%;
}

.header__button{
    margin-left: 20px;
}
.header__button-link{
    padding: 10px 30px;

    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: white;
    text-decoration: none;

    background: #14B45C;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px #14B45C solid;

    transition: all .3s;
}

.header__button-link:hover{
    background: transparent;
    color: #14B45C;
}

/****************INTRO***************/

.intro{
    position: relative;

    padding: 190px 0 140px;
}

.intro__bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.intro__bg-img{
    max-width: 100%;
    height: auto;
}

.intro__inner{
    display: flex;

    z-index: 2;
}

.intro__content{
    max-width: 495px;
    margin: 232px 0 0 57px;
}

.intro__content-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.intro-content-text {
    margin: 30px 0 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #A1A4AC;
}

.intro__content-links {
    display: flex;
    align-items: center;
}

.intro__content-links-download {
    padding: 14px 31px;

    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;

    background: #14B45C;
    border: 1px solid #14B45C;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    transition: all .3s;
}

.intro__content-links-download:hover {
    color: #14B45C;
    background: transparent;
}

.intro__content-links-watch {
    margin-left: 30px;
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.intro__content-links-watch img {
    margin-right: 10px;

    transition: all .3s;
}

.intro__content-links-watch:hover img {
    transform: translateY(-10px);
}


/****************EVERNEED***************/

.everneed{
    padding: 30px 0 165px;
}

.everneed__title {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #1C1F28;
}

.everneed__items {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
}

.everneed__item {
    max-width: 320px;
    text-align: center;
}

.everneed__item-title {
    margin: 43px 0 24px;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1C1F28;
}

.everneed__item-text {
    font-size: 16px;
    line-height: 19px;
    color: #A1A4AC;
}


